<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <!--begin::Sidebar Brand-->
        <div class="sidebar-brand">
          <a href="../index.html" class="brand-link">
                          <img src="{{ asset('assets/front/assets/img/logo-landing.png') }}" alt="" class="img-fluid">

            <span class="brand-text fw-light">E-Waste</span>
          </a>
        </div>
        <!--end::Sidebar Brand-->
        <!--begin::Sidebar Wrapper-->
        <div class="sidebar-wrapper">
          <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul
              class="nav sidebar-menu flex-column"
              data-lte-toggle="treeview"
              role="menu"
              data-accordion="false"
            >
              <li class="nav-item">
                <a href="{{ path('back_dashboard') }}" class="nav-link">
                  <i class="nav-icon bi bi-speedometer"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('back_map_activity') }}" class="nav-link">
                  <i class="nav-icon bi bi-map"></i>
                  <p>
                    Maps View
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-building"></i>
                  <p>
                    Centres
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-trash"></i>
                  <p>
                    Poubelles
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('admin_gamification_dashboard') }}" class="nav-link">
                  <i class="nav-icon bi bi-trophy"></i>
                  <p>
                    Gamification
                  </p>
                </a>
              </li>
            </ul>
            <!--end::Sidebar Menu-->
          </nav>
        </div>
        <!--end::Sidebar Wrapper-->
      </aside>

  <style>
  .img-fluid{
    width:40px;
  }


  </style>