{% extends 'back/base.html.twig' %}

{% block title %}Ajouter Plannification{% endblock %}

{% block content %}

    <h1>Create new Plannificationtache</h1>

    {{ include('back/plannificationtache/_form.html.twig') }}

    <div class="text-center mb-3">
    <a href="{{ path('app_plannificationtache_index') }}" class="btn btn-success rounded-pill px-4">Retour à la liste</a>
</div>
{% endblock %}