<!DOCTYPE html>

<title>New Plannificationtache</title>

{% block body %}
    <h1>Create new Plannificationtache</h1>

    {{ include('plannificationtache/_form.html.twig') }}

    <a href="{{ path('app_plannificationtache_index') }}">back to list</a>
{% endblock %}
