<form method="post" action="{{ path('app_capteur_delete', {'id_c': capteur.id_c}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ capteur.id_c) }}">
    <button class="btn">Delete</button>
</form>
