{% extends 'back/base.html.twig' %}

{% block title %}Nouvelle Poubelle{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {{ include('back/poubelle/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
