<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block stylesheets %}
     
<link rel="stylesheet" href="{{ asset('assets/front/auth/login.css') }}">
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}
       
<script src="{{ asset('assets/front/auth/login.js') }}"></script>
    {% endblock %}
</body>
</html>