<!DOCTYPE html>

<title>Edit Centre</title>

{% block body %}
    <h1>Edit Centre</h1>

    {{ include('back/centre/_form.html.twig', {'button_label': 'Update'}) }}

   

    {{ include('back/centre/_delete_form.html.twig') }}
{% endblock %}
