<!DOCTYPE html>

<title>New Centre</title>

{% block body %}
    <h1>Create new Centre</h1>

    {{ include('back/centre/_form.html.twig') }}

    <a href="{{ path('app_centre_index') }}">back to list</a>
{% endblock %}
