<!DOCTYPE html>

<title>Edit Poubelle</title>

{% block body %}
    <h1>Edit Poubelle</h1>

    {{ include('poubelle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_poubelle_index') }}">back to list</a>

    {{ include('poubelle/_delete_form.html.twig') }}
{% endblock %}
