<form method="post" action="{{ path('app_contrat_delete', {'id': contrat.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce contrat ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contrat.id) }}">
    <button class="{{ button_class|default('btn btn-danger') }}">
        <i class="bi bi-trash-fill"></i> {{ button_label|default('Supprimer') }}
    </button>
</form>